@CHARSET "UTF-8";

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 100%;
	background-color: linen;
}

header {
	border: 1px outset;
	margin: 5px;
	margin-bottom: 15px;
	padding: 8px;
	background-color: gray;
	clear: both;
	color: white;
	margin-bottom: 5px;
}

header h1 {
	text-align: center;
}

h1 {
	color: White;
}

.div {
	display: inline-block;
}

section {
	background-color: lightblue;
	width: 100%;
	text-align: center;
}

.err_msg {
	color: red;
	text-decoration: underline;
}

footer {
	color: #ff0000;
	text-align: center;
}

/* */